@charset "utf-8";
/* CSS Document */

#CatalogOptions{
	font-size: medium;
	max-width: 870px;
	min-width: 870px;
	min-height: 45px;
	max-height: 45px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #CCC;
	border-width: thin;
	border-color:#000;
	-webkit-box-shadow: 1px 0px 5px 0px;
	box-shadow: 1px 0px 5px 0px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0px 0px;
}

#ViewDesigns {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 2px;
	width: 149px;
	font-size: medium;
	text-shadow:none;
}

#ViewADesign {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 2px;
	width: 149px;
	font-size: medium;
	text-shadow:none;
}

#UploadADesign {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 2px;
	width: 149px;
	font-size: medium;
	text-shadow:none;
}

#FindPrintLocations {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 2px;
	width: 149px;
	font-size: medium;
	text-shadow:none;
}

#FindToolsAndMaterialsLocations {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 2px;
	width: 149px;
	font-size: medium;
	text-shadow:none;
}

#PostALocation {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 2px;
	width: 149px;
	font-size: medium;
	text-shadow:none;
}
