a#loginBtn, a#joinBtn{
	font-size: medium;
}
.centered{
	text-align: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
	background-color: #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 15px;
	position: fixed;
	top: 40%;
	visibility: hidden;
	z-index: 10;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.popup p, .popup div {
	margin-bottom: 10px;
}
.popup label {
	display: inline-block;
	width: 145px;
}
.popup input[type="text"], .popup input[type="password"] {
	border: 1px solid;
	border-color: #999 #ccc #ccc;
	margin: 0;
	padding: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}
.popup input[type="submit"]{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	color: rgba(112,112,112,1.00);
	font-size: medium;
	color: rgba(112,112,112, 0.8);
	text-shadow: 1px 4px 6px rgba(255,255,255,1.00), 0 0 0 #000, 1px 4px 6px rgba(255,255,255,1.00);
}
.popup input[type="submit"]:hover{
	color: #000;
	text-shadow: none;
}
.popup input[type="submit"]:active{
	color: rgba(112,112,112,1.00);
	font-size: medium;
	color: rgba(112,112,112, 0.8);
	text-shadow: 1px 4px 6px rgba(255,255,255,1.00), 0 0 0 #000, 1px 4px 6px rgba(255,255,255,1.00);
}
#join{
	width: 300px;
}
#newUsernameDiv{
	float: left;	
}
#emailDiv{
	float: left;
}
#emailVerifyDiv{
	float: left;
}
#newPasswordDiv{
	float: left;
}
#passwordVerifyDiv{
	float: left;
}
